#upload_textarea
{
    width: 80%;
    height: 200px;
}

#submit_upload_text
{
    width: 100px;
}

.error-list-item
{
    text-align: left;
    display: inline-block;
    color: #FF000A;
}

.error-list
{
    white-space: nowrap;
    text-align: left;
    padding-left: 10%;
}