<template>
    <div id="text-detail" v-if="sentences.length">
        <hr/>
        <h2>Sentences</h2>
        <ul>
            <li v-for="sentence in sentences" v-bind:key="sentence" class="sentence-list-item">
                <a href="" v-on:click="loadSimilarTexts">{{ sentence }}</a>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "TextDetail",
        data: function() {
            return {
                sentences: []
            };
        },
        methods: {
            refreshSentences(s) {
                this.sentences = s;
            },

            notifyToRefreshSimilarTexts(response) {
                console.log("Response: " + response.data);
                this.$store.state.similarTexts = response.data;
                this.$root.$emit('similarTextsRefreshed', response.data);
            },

            loadSimilarTexts: function(e) {
                e.preventDefault();
                console.log("Loading similar texts");
                console.log(e)
                var url = process.env.VUE_APP_BACKEND_HOST +
                          "/api/v1/text/similar?search=" +
                          e.target.text + '&skip_ids=' +
                          this.$store.state.activeText;
                this.axios.get(url
                ).then(this.notifyToRefreshSimilarTexts);
            }
        },
        mounted() {
            this.$root.$on('textRefreshed', (data) => {
                console.log("Text Refreshing: " + data)
                this.refreshSentences(data)
            });
        }
    }
</script>

<style>
@import '../../styles/text/TextDetail.css';
</style>