<template>
    <div class="text-add-panel">
        <form @submit="uploadText" action="" method="post">
            <p v-if="errors.length">
                <b>Please fix errors below:</b>
                <ul class="error-list">
                    <li v-for="error in errors" :key="error" class="error-list-item">{{ error }}</li>
                </ul>
            </p>
            <p>
                <textarea
                          v-model.trim="uploadedText"
                          ref="uploadedText"
                          id="upload_textarea"
                          class="upload-textarea"
                          maxlength="1024"
                ></textarea>
            </p>
            <p>
                <button type="submit"
                        class="btn btn-success"
                        id="submit_upload_text"
                >Add text</button>
            </p>
        </form>
    </div>
</template>

<script>
    export default {
        name: "TextAdd",
        data: function() {
          return {
              errors: [],
              uploadedText: ""
          };
        },
        methods: {
            checkForm: function() {
                this.errors = [];
                console.log("Validating form...")
                console.log("Text: " + this.$refs.uploadedText.value)
                if(this.$refs.uploadedText.value)
                    return true;
                else
                    this.errors.push("Please fill the input with some text");
            },
            notifyAboutSentences: function (response){
                console.log("Response: ", response.data);
                this.$store.state.uploadedText = response.data['sentences'];
                this.$store.state.activeText = response.data['id'];
                this.$root.$emit('textRefreshed', response.data['sentences'])
            },
            uploadText: function(e) {
                e.preventDefault();
                if(!this.checkForm(e))
                    return false;

                let upload_data = this.$refs.uploadedText.value;
                console.log("BACKEND_HOST: " + process.env.VUE_APP_BACKEND_HOST);
                let url = process.env.VUE_APP_BACKEND_HOST + '/api/v1/dashboard/text';
                this.axios.post(url, {'text': upload_data}
                ).then(this.notifyAboutSentences)
            }
        }
    }
</script>

<style>
    @import '../../styles/text/TextAdd.css';
</style>