<template>
    <div id="similar-texts"  v-if="similarTexts.length">
        <hr/>
        <h2>Similar texts</h2>
        <ul>
            <li v-for="similar_item in similarTexts" v-bind:key="similar_item" class="similars-list-item">
                <span :title="String((100*similar_item[0]).toFixed(2))+'%'">{{ similar_item[1] }}</span>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "TextList",

        data: function() {
          return {
                similarTexts: []
          };
        },

        methods: {
            refreshSimilarTexts(data) {
                this.similarTexts = data;
            }
        },

        mounted() {
            this.$root.$on('similarTextsRefreshed', (data) => {
               console.log('Refreshing similar texts');
               this.refreshSimilarTexts(data);
            });
        }
    }
</script>

<style>
@import '../../styles/text/TextList.css';
</style>