<template>
  <div class="home">
    <TextAdd/>
    <TextDetail/>
    <TextList/>
  </div>
</template>

<script>
import TextAdd from './text/TextAdd.vue';
import TextDetail from './text/TextDetail.vue';
import TextList from './text/TextList.vue';

export default {
  name: 'Home',
  props: {
    msg: String
  },
  components: {
      TextList, TextDetail,TextAdd
  },
  data: function() {
      return {
          textDetailKey: 0
      }
  }
}
</script>
